# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
.turbo
turbo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
*.log
.vercel

# Legacy yarn
.yarn

# Test
coverage
*.tsbuildinfo
