VITE_API_BASE_URL=http://localhost:3000
VITE_WEB_BASE_URL=http://localhost:3000

# Supabase realtime config (optional)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Giphy (optional)
VITE_GIPHY_API_KEY=

# Tauri build env
TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=
